@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table_border">
<tr>
<td>上课时间</td>
<td>序号</td>
<td>周一</td>
<td>周二</td>
<td>周三</td>
<td>周四</td>
<td>周五</td>
<td>周六</td>
<td>周日</td>
</tr>
<tr>
<td>08:00 - 08:45</td>
<td>1</td>
<td rowspan="12" colspan="7" class="tdfull"><table id="timesheet" class="table_border_inner" height="100%">


</table></td>
</tr>

<tr>
<td>08:45 - 09:30</td>
<td>2</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>3</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>4</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>5</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>6</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>7</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>8</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>9</td>
</tr>
<tr>
<td>09:30 - 10:15</td>
<td>10</td>

</tr>

<tr>
<td>09:30 - 10:15</td>
<td>11</td>

</tr>
<tr>
<td>09:30 - 10:15</td>
<td>12</td>

</tr>
</table>



<script type="text/javascript">

    $(function () {

        $.ajax({

            url: '/TeachTimeSheet/GetTimeSheetByTeacher',
            success: function (data) {

                for (var row = 0; row < 12; row++) {

                    var row_html = "<tr>";
                    for (var col = 0; col < 7; col++) {
                        if (data[row][col] != null) {
                            if (row > 0 && data[row - 1][col] == data[row][col]) {  //if same as above

                                var tmp = row - 1;
                                //find the early same one or until row is -1
                                for (; tmp >= 0; tmp--) {
                                    if (data[row][col] != data[tmp][col]) {
                                        break;
                                    }
                                }

                                if (tmp < 0) {
                                    tmp = 0;
                                }

                                var above_row = $('#timesheet').children().children(':eq(' + tmp + ')');
                                var above_cell = above_row.children(':eq(' + col + ')');
                                var orgspan = above_cell.attr('rowspan');
                                if (orgspan == undefined) {
                                    orgspan = 0;
                                }
                                else {
                                    orgspan = parseInt(orgspan);
                                }
                                above_cell.attr('rowspan', orgspan + 1);
                            }
                            else {
                                row_html += "<td>" + data[row][col] + "</td>";
                            }
                        }
                        else { //null cell
                            row_html += "<td></td>";
                        }
                    }



                    row_html += "</tr>"

                    $('#timesheet').append(row_html);

                }



            }

        });


    });

</script>