@{
    ViewBag.Title = "Index";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/calendar/xgcalendar_lang_zh_cn.js")"></script>
    <script src="@Url.Content("~/Scripts/calendar/xgcalendar.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/calendar/calendar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/timesheet_index.css")" rel="stylesheet" />
}

<script type="text/javascript">

$(function(){
	
	var op = {
        view: "week", //默认视图，这里是周视图
        theme: 1, //默认的主题风格
        readonly: true,
        enableDrag:false,
        autoload:true, //是否在页面加载完毕后自动获取当前视图时间的数据
        showday: new Date(2013,2), //当前视图的显示时间
        //EditCmdhandler:edit, //点击的响应事件
        //DeleteCmdhandler:dcal, //删除的响应事件
        //ViewCmdhandler:view,    //查看的响应事件
        //onWeekOrMonthToDay:wtd,//当when weekview or month switch to dayview 
        //onBeforeRequestData: cal_beforerequest,
        //onAfterRequestData: cal_afterrequest,
        //onRequestDataError: cal_onerror, 
        url: "/TimeSheet/GetTimeSheetByStudent?SNo=20062319",  //url for get event data by ajax request(post)
        quickAddUrl: "/calendar/add" ,   //url for quick add event data by ajax request(post)
        quickUpdateUrl: "/calendar/update" ,   //url for quick update event data by ajax request(post)
        quickDeleteUrl:  "/calendar/delete"  //url for quick delete event data by ajax request(post)
    };
	var _MH = document.documentElement.clientHeight; //获取页面高度，不同的文档类型需要不同的计算方法，注意示例中使用的doctype 用这个就搞定了
	op.height = _MH-70; //container height;
	op.eventItems =[]; //default event data;
	$("#xgcalendarp").bcalendar(op);


	$('#prevbtn').click(function () { $("#xgcalendarp").BCalPrev(new Date()); });
	$('#nextbtn').click(function () { $("#xgcalendarp").BCalNext(new Date()); });
	$('#todaybtn').click(function () { $("#xgcalendarp").BCalGoToday(new Date()); });
});

</script>

<div id="toppanel">
    <div class="calbtnp1">
        <div class="btngroup">
            <button id="todaybtn" type="button" class="btn">Today</button>
            <span id="prevbtn" type="button" class="btn prevbtn"><em></em></span>
            <span id="nextbtn" type="button" class="btn nextbtn"> <em></em></span>
        </div>

    </div>
</div>
<div id="xgcalendarp" style="width:70%">这里是日历控件</div>