
<div  class="form_content">
    <ul class="form_options">
         <li class="active" data-form-target="homework_1" order='1'>作业一</li>
         <li data-form-target="homework_2" order='2'>作业二</li>
    </ul>
     <div class="form_main_content" id="homework_1">
         <div class="content_border">
              <div class="content_title">
                    <span>基础信息</span>
               </div>
              <ul class="form_input_area">
                  <li>
                       <div class="parameter_name"><span>作业题目</span></div>
                       <div class="parameter_input"><span>XXX</span></div>       
                  </li>
                  <li>
                       <div class="parameter_name"><span>作业要求</span></div>
                       <div class="parameter_input"><span>XXX</span></div>       
                  </li>
              </ul>
          </div>
          <div>
              <span>按时交作业35/37 迟交作业1/37 未交作业1/37</span>
          </div>
          <div class="content_border">
               <div class="content_title">
                    <span>学生作业</span>
               </div>
              <div>
                   <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table_form"
                            id="newest_vacation_my">
                       <tr>
                           <td>学号</td>
                           <td>姓名</td>
                           <td>作业名</td>
                           <td>提交日期</td>
                           <td>状态</td>
                           <td>作业评分</td>
                       </tr>
                       <tr>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                       </tr>
                        <tr>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                           <td>XXXX</td>
                       </tr>
                     </table>
              </div>
          </div>
     </div>
</div>
         
              

       