<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/global.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
     <div class="headerBar"></div>
    <div class="header-wrapper">
        <div class="header margin_1140_center">
            <div class="logo logo_left">
                <img src="/content/images/logo_hr.png" class="fl">
            </div>
            <div class="logo">
                <div class="headerInfo_Top">
                    <input type="text" />
                </div>
                <img src="/content/images/topbg_right.png" class="fr">
                <div class="headerInfo_Boottom">
                      <span ><a href="">Navigation</a></span>
                      <span ><a href="">Navigation</a></span>
                      <span ><a href="">Navigation</a></span>
                 </div>
            </div>
   
        </div>
    </div>
    <div class="menuBar">
        <ul class="mainMenu margin_1140_center">
            <li class="normal">
                <a href=''><span>Menu</span></a>
            </li>
            <li class="normal">
                <a href=''><span>Menu</span></a>
            </li>
            <li class="normal active">
                <a href=''><span>Menu</span></a>
            </li>
        </ul>
    </div>
    <div class="margin_1140_center mainContent">
        @RenderBody()
    </div>
    
</body>
</html>
