<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/calendar/jquery.js")" type="text/javascript"></script>
    @RenderSection("ScriptAndCss")
</head>

<body>
    @RenderBody()
</body>
</html>
