.rightMenu {
    float: right !important;
}

    .rightMenu ul > li:hover, .menuBar ul > li.active {
        background: url('/Content/images/nav_bg_hover.png') 0 0 repeat-x;
    }

    .rightMenu > ul > li {
        float: left;
    }

        .rightMenu > ul > li > a > span {
            margin: -4px 4px;
        }

        .rightMenu > ul > li > a {
            display: inline-block;
            padding: 10px 0px;
        }

.hotel > a > span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.icons_mgr_pic {
    height: 30px;
}

.arrow_down {
    background-position: -143px -115px;
    float: right;
    width: 16px;
    height: 25px;
}

.hotel_list {
    position: absolute;
    top: 40px;
    border: solid 2px #4F8FEB;
    #left:0px;
    background-color: #B1D3F8;
    padding: 5px 0px;
    display: none;
    z-index: 1000;
}

    .hotel_list > ul > li {
        margin: 3px 10px;
        padding: 5px 0px;
        background-color: #FFFFFF;
        border: solid 1px #85ADE0;
    }

    .hotel_list > ul > a > li:hover, .hotel_list > ul > a > li:active {
        background: url('/Content/images/nav_bg_hover.png') 0 0 repeat-x;
    }

.hotel_title {
    margin: 0px 7px;
    font-size: 14px;
    color: #5672A3;
}

.subMenu.speci_area {
    left: 0px;
    float: none;
    *+top:40px;
    #width: auto;
    width: 140px;
    left: 72px;
}

.mgr_content_left {
    width: 79%;
    float: left;
}

.mgr_content_right {
    width: 20%;
    float: right;
    height: 600px;
}

.detail_1 {
    width: 100%;
    padding-bottom:10px;
}

.detail_2 {
    height: 39%;
    width: 100%;
}

.subDetail {
    height: 82px;
    width: 100%;
    margin-top: 4px;
}


.mgr_titlr_1 {
    width: 83%;
    height: 30px;
}


/*.mgr_info{
	height: 50%;
}*/
.apply_detail {
    height: 60%;
    width: 100%;
}

    .apply_detail > ul > li {
        display: block;
        float: left;
        width: 15%;
        line-height: 40px;
        margin-left: 14px;
        padding: 3px 0;
    }

.apply_list {
    line-height: 35px;
}

.print_list {
    line-height: 31px;
}

.print_detail > ul > li {
    display: block;
    float: left;
    width: 17%;
    line-height: 48px;
    margin-left: 20px;
    padding: 5px 0;
}

.mgr_right_top {
    height: 182px;
}

.mgr_right_bottom {
    height: 418px;
    margin-top: 5px;
}

.mgr_info_title {
    height: 40px;
}

.person_info {
    width: 100%;
    display: block;
    float: right;
}

.info_detail {
    padding: 0px 12px;
    padding-top: 7px;
    height: 136px;
}

.icon_teams {
    background-position: -312px -34px;
    height: 40px;
}

.list_height {
    height: 90%;
}

.shorter {
    height: 30px;
}

.icon_coffee {
    background-position: -313px 2px;
}
